@import "tailwindcss";

.custom-btn{
    @apply cursor-pointer;
}

@layer base{
  :root {
  --color-primary:#3F51B5;   /* Tailwind blue-600 */
  --color-secondary: #9333ea; /* purple-600 */
  --color-background: #ffffff;
  --color-text: #111827;
}
}

.clip-polygon-pentagon {
  clip-path: polygon(
    50% 0%,    /* top center */
    100% 25%,  /* top-right */
    100% 85%,  /* bottom-right */
    20% 100%,  /* bottom-left */
    0% 40%     /* top-left */
  );
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge */
html {
  -ms-overflow-style: none;
}
